.img{
    width: 60px;
    border-radius: 50%;
}
.img1{
    width: 40px;
    border-radius: 50%;
}
.img,.img1:hover{
    cursor: pointer;
    transform: scale(0.9);
}
.right-section{
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    padding-right: 10px;
}
a{
    text-decoration: none;
    color:black;
    margin-right: 5px;
}
a:hover{
    text-decoration: underline;
}
.search-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.15);
    border-radius: 20px;  
}
.textarea{
    display: flex;
    flex-direction: row;
    resize: horizontal;
    border: none;
    border-color: white;
    height: 30px;
}
@media screen and (min-width: 800px) {
    .textarea {
        width: 420px;
    }
  }
.underbuttons{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}